<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://bootswatch.com/4/slate/bootstrap.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Baloo Bhai' rel='stylesheet'>

    <style>
        body {
            font-family: 'Baloo Bhai';font-size: 22px;
        }
    </style>
</head>
<body>



<div class="container">
    <h1>Chat App</h1>
    <div class="join-chat input-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username" />
        <input class="form-control" type="button" id="join-chat" class="btn btn-secondary" value="Join Chat" />
    </div><br />
    <div class="chat-info"></div><br />
    <div class="chat">

        <div class="container jumbotron col-md-12">
            <div class="row">
                <div class="messages"></div>
            </div>
        </div>
        <textarea name="message" id="message" cols="90" rows="5" placeholder="Enter your message..."></textarea><br /><br />
        <input type="button" class="btn btn-primary" id="send-message" data-username="" value="Send Message">
        <input type="button" class="btn btn-danger" id="leave-chat" data-username="" value="Leave Chat">
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    var socket = io();
    $.get('/get_chatters', function(response) {
        $('.chat-info').text("There are currently " + response.length + " people in the chat room");
        chatter_count = response.length; //update chatter count
    });
    $('#join-chat').click(function() {
        var username = $.trim($('#username').val());
        $.ajax({
            url: '/join',
            type: 'POST',
            data: {
                username: username
            },
            success: function(response) {
                if (response.status == 'OK') { //username doesn't already exists
                    socket.emit('update_chatter_count', {
                        'action': 'increase'
                    });
                    $('.chat').show();
                    $('#leave-chat').data('username', username);
                    $('#send-message').data('username', username);
                    $.get('/get_messages', function(response) {
                        if (response.length > 0) {
                            var message_count = response.length;
                            var html = '';
                            for (var x = 0; x < message_count; x++) {
                                html += "<div class='col'><div class='badge badge-primary'><h1 class='badge badge-pill badge-dark'>username: "+ response[x]['sender'] +"</h1><h4>" + response[x]['message'] + "</h4></div></div><br><div class='w-100'></div>";
                            }
                            $('.messages').html(html);
                        }
                    });
                    $('.join-chat').hide(); //hide the container for joining the chat room.
                } else if (response.status == 'FAILED') { //username already exists
                    alert("Sorry but the username already exists, please choose another one");
                    $('#username').val('').focus();
                }
            }
        });
    });
    $('#leave-chat').click(function() {
        var username = $(this).data('username');
        $.ajax({
            url: '/leave',
            type: 'POST',
            dataType: 'json',
            data: {
                username: username
            },
            success: function(response) {
                if (response.status == 'OK') {
                    socket.emit('message', {
                        'username': username,
                        'message': username + " has left the chat room.."
                    });
                    socket.emit('update_chatter_count', {
                        'action': 'decrease'
                    });
                    $('.chat').hide();
                    $('.join-chat').show();
                    $('#username').val('');
                    alert('You have successfully left the chat room');
                }
            }
        });
    });
    $('#send-message').click(function() {
        var username = $(this).data('username');
        var message = $.trim($('#message').val());
        $.ajax({
            url: '/send_message',
            type: 'POST',
            dataType: 'json',
            data: {
                'username': username,
                'message': message
            },
            success: function(response) {
                if (response.status == 'OK') {
                    socket.emit('message', {
                        'username': username,
                        'message': message
                    });
                    $('#message').val('');
                }
            }
        });
    });

    socket.on('send', function(data) {
        var username = data.username;
        var message = data.message;
        var html = "<div class='col'><div class='badge badge-primary'><h1 class='badge badge-pill badge-dark'>username: "+ username +"</h1><h4>" + message + "</h4></div></div><br><div class='w-100'></div>";
        $('.messages').append(html);
    });
    socket.on('count_chatters', function(data) {
        if (data.action == 'increase') {
            chatter_count++;
        } else {
            chatter_count--;
        }
        $('.chat-info').text("There are currently " + chatter_count + " people in the chat room");
    });
</script>
</body>
</html>
